:root {
	--color-before: radial-gradient(circle at 35% 30%, #3ba53b, #a3e635 60%, #bef264);
	--color-after: radial-gradient(circle at 35% 30%, #3ba53b, #4fd64f 60%, #2a7a2a);
	--color-owner-before: radial-gradient(circle at 35% 30%, #a78bfa, #60a5fa 60%, #22d3ee);
	--color-owner-after: radial-gradient(circle at 35% 30%, #f97316, #f59e0b 60%, #ef4444);
}

.Voice_voiceState__OCoZh {
	position: relative;
	z-index: 9999;
	height: 50px;
	margin: 30px;
	overflow: visible;
	border: none !important;
	opacity: 0.6;
	transition: opacity 0.3s ease-in-out;
}

.Voice_voiceState__OCoZh::before {
	background: var(--color-before);
	animation: blob1 5s infinite;
}

.Voice_voiceState__OCoZh::after {
	background: var(--color-after);
	animation: blob2 5s infinite;
}

.Voice_voiceState__OCoZh.is_widget_owner::before {
	background: var(--color-owner-before);
}

.Voice_voiceState__OCoZh.is_widget_owner::after {
	background: var(--color-owner-after);
}

/* ----- 個別設定 ここから ----- */
.Voice_voiceState__OCoZh[data-userid="USER_ID_HERE"]::before{
	background: radial-gradient(circle at 35% 30%, #60a5fa, #22d3ee 60%, #a78bfa);
}

.Voice_voiceState__OCoZh[data-userid="USER_ID_HERE"]::after {
	background: radial-gradient(circle at 35% 30%, #f97316, #f59e0b 60%, #ef4444);
}

/* ----- 個別設定 ここまで ----- */

.Voice_voiceState__OCoZh::before,
.Voice_voiceState__OCoZh::after {
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: -1;
	width: 80px;
	height: 80px;
	clip-path: none;
	overflow: visible;
	display: block;
	isolation: isolate;
	transform: translate(-50%, -50%) scale(0.3);
	transition: transform 0.5s ease-in-out;
	transform-box: fill-box;
	animation-play-state: paused;
	content: '';
}


.Voice_avatar__htiqH {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 50px;
	height: 50px;
	border: none !important;
	object-fit: cover;
	border-radius: 50%;
	transform: scale(0.9);
	transition: transform 0.3s ease-in-out;
}


.Voice_user__8fGwX {
	padding-left: 61px;
}


.Voice_voiceState__OCoZh.wrapper_speaking {
	opacity: 1;
}

.Voice_voiceState__OCoZh.wrapper_speaking .Voice_avatar__htiqH {
	transform: scale(1);
}

.Voice_voiceState__OCoZh.wrapper_speaking::before,
.Voice_voiceState__OCoZh.wrapper_speaking::after {
	animation-play-state: running;
	transform: translate(-50%, -50%) scale(1);
}